html, body {
  background-color: #121212;
  color: whitesmoke;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.quote-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 50vw;
}

@media only screen and (max-width: 600px) {
  .quote-container {
    max-width: 90%;
  }
}

.quote-author {
  font-style: italic;
  opacity: 0.75;
  padding: 10px;
}

.MuiRating-root {
  font-size: 32px !important;
}

.MuiRating-iconEmpty {
  color: whitesmoke !important;
}

.MuiRating-iconFilled {
  color: #6fbf73 !important;
}
